<div class="widget-default-wrapper">
  <div class="header-wrapper">
    <div class="widget-header">Widget</div>

    <div class="btn-wrapper">
      <button class="widget-btn" (click)="onEnableDisable()">
        <i class="fa-solid fa-power-off"></i>
      </button>
      <button class="widget-btn" (click)="onRefresh()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <section class="widget-content">
    <ng-content></ng-content>
  </section>
</div>
