<div class="app-wrapper">
  <div class="widgets-wrapper">
    <!-- <stores-default-wrapper>
      <stores-server-status-widget></stores-server-status-widget>
    </stores-default-wrapper> -->
    <stores-default-wrapper>
      <stores-weather-widget
        [cityName]="'bielsko-biala'"
      ></stores-weather-widget>
    </stores-default-wrapper>
    <stores-default-wrapper>
      <stores-weather-widget
        [cityName]="'lublin'"
      ></stores-weather-widget>
    </stores-default-wrapper>
    
    <stores-default-wrapper>
      <stores-server-status-widget></stores-server-status-widget>
    </stores-default-wrapper>
    
    <stores-default-wrapper>
      <stores-server-status-widget></stores-server-status-widget>
    </stores-default-wrapper>
  </div>
</div>
