.widget-header {
}

.widget {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: space-between;

  &-header {
    padding-top: 5px;
  }
  &-desc {
    font-size: 0.8rem;
  }
  &-temp {
    padding-top: 5px;
    text-align: center;
    font-size: 2rem;
    color: #189ab4;
  }
  &-img-wrapper {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.disable,
.refresh {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #d4f1f4;
}
